* { padding: 0; margin: 0; }
body {
	border: 1px dotted black;
	width: 762px;
	margin: 0 auto;
}
header {
	border: 1px dotted black;
	margin: 15px;
	padding: 15px;
	width: 700px;
}
header img {
	float: left;
	margin-right: 15px;
}
nav {
	border: 1px dotted black;
	margin: 15px;
	margin-bottom: 0;
	padding: 15px;
	width: 700px;
}
nav li {
	border: 1px dotted black;
	margin-right: 10px;
	display: inline;
}
main {
	border: 1px dotted black;
	margin: 15px;
	padding: 15px;
	width: 400px;
	float: left;
}
aside {
	border: 1px dotted black;
	margin: 15px;
	margin-left: 0;
	padding: 15px;
	width: 253px;
	float: right;
}
footer {
	border: 1px dotted black;
	margin: 15px;
	padding: 15px;
	width: 700px;
	clear: both;
}
