* { padding: 0; margin: 0; }
html {
  font-family: "Trirong", Arial, Helvetica, sans-serif;
}	
body {
	border: 1px dotted black;
	max-width: 1462px;
	margin: 0 auto;
}
header {
	border: 1px dotted black;
	/*margin: 15px;*/
	margin: 1.02599179207%;
	/*padding: 15px;*/
	padding: 1.02599179207%;
	/*width: 1400px;*/
	width: 95.7592339261%;
}
header img {
	float: left;
	margin-right: 15px;
}
nav {
	border: 1px dotted black;
	/*margin: 15px;*/
	margin: 1.02599179207%;
	margin-bottom: 0;
	/*padding: 15px;*/
	padding: 1.02599179207%;
	/*width: 1400px;*/
	width: 95.7592339261%
}
nav li {
	border: 1px dotted black;
	margin-right: 10px;
	display: inline;
}
main {
	border: 1px dotted black;
	/*margin: 15px;*/
	margin: 1.02599179207%;
	/*padding: 15px;*/
	padding: 1.02599179207%;
	/*width: 800px;*/
	width: 95.7592339261%;
	float: left;
}
aside {
	border: 1px dotted black;
	/*margin: 15px;*/
	margin: 1.02599179207%;
	margin-left: 0;
	/*padding: 15px;*/
	padding: 1.02599179207%;
	/*width: 553px;*/
	width: 37.8248974008%;
	float: right;
}
footer {
	border: 1px dotted black;
	/*margin: 15px;*/
	margin: 1.02599179207%;
	/*padding: 15px;*/
	padding: 1.02599179207%;
	/*width: 1400px;*/
	width: 95.7592339261%;
	clear: both;
}
a {
	color: #06f;
}
main h2 {
	margin-bottom: 10px;
}
main h3 {
	margin-bottom: 10px;
}
main p {
	margin-bottom: 10px;
}